.nounderline {
  text-decoration: none !important
}


.navigation {
    background: #3B5999;
}

.txt-light {
	color: #fff;
}

.txt-light:hover {
	color: #eee;
}

.mt-12vh {
    margin-top: 12vh;
}


.login-btn {
    background: #3479B4;
    color: #fff;
}


#profile-img {
	background: #eee;
	width: 130px;
	height: 130px;
}